:root {
	--color-white: #ffffff;
	--color-light-bg: #f0f0f0;
	--color-gray: #333333;
	--color-dark-bg: #3f3f3f;
	--color-blue: #3e29fa;
	--color-purple: #b8b0ff;
}

html {
	font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1.4rem;
}

main {
	padding: 1rem;
	max-width: 250px;
	margin: 0 auto;
}

h1 {
	font-size: 1.8rem;
	margin-top: 0;
	text-align: center;
}

.session {
    margin: 0.5rem 0;
}

.toggle-btn {
    padding: 1rem;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.alarm-time {
    margin: 0.25rem 0;
}

.hidden {
    display: none;
}

label {
	display: inline-block;
	width: calc(100% - 2.5rem);
    cursor: pointer;
    padding: 0.25rem;
}

input[type=checkbox] {
	width: 1.2rem;
	height: 1.2rem;
}


/* Styles for light mode */
@media (prefers-color-scheme: light) {
	body {
		background-color: var(--color-white);
		color: var(--color-gray);
	}

	a {
		color: var(--color-blue);
	}

	.toggle-btn {
		background-color: var(--color-light-bg);
		color: var(--color-blue);
	}

	.alarm-time:hover {
		background-color: var(--color-light-bg);
	}

}

/* Styles for dark mode */
@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--color-gray);
		color: var(--color-white);
	}

	a {
		color: var(--color-purple);
	}

	.toggle-btn {
		background-color: var(--color-dark-bg);
		color: var(--color-purple);
	}

	.alarm-time:hover {
		background-color: var(--color-dark-bg);
	}
}